@*@model IEnumerable<AspNetCoreIdentityCustomization.Core.PostLog>*@

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table" id="dataTableId">
    <thead>
        <tr>
           
            <th>
                PostLogId
            </th>
            <th>
                SchedId
            </th>
            <th>
              ScheduleName
            </th>
            <th>
                CreateDt
            </th>
            <th>
                UpdateDt
            </th>
            <th>
               WeekNbr
            </th>
            <th>
                WeekDate
            </th>
            
           
            <th></th>
        </tr>
    </thead>
</table>


@*<table class="table" id="dataTableId">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PostLogId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SchedId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScheduleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WeekNbr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WeekDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateDt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PostLogId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SchedId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScheduleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WeekNbr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WeekDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateDt)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>*@


@section Scripts {
    <script src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.8.1/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript">
        var ReportListurl = '@Url.Action("LoadPostlogList", "Postlog")';


    </script>
    <script src="~/js/PostlogListnew.js"></script>
    
}